<div ng-controller="CtctCtrl">
     <div class="jumbotron">
 <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="navbar-left">
                        <a href="http://www.mass.gov/eea/grants-and-tech-assistance/guidance-technical-assistance/agencies-and-divisions/doer/" target="_blank"><img class="img-responsive logo" src="images/DOER_JPEG_300dpi.jpg" alt="DOER logo"> </a>
                    </li>
                </ul>
                <!-- <ul class="nav navbar-nav ">
               <h3 style="padding-top:20px;color:#337ab7">Massachussets Energy Incentive and rebate</h3>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-right">
                    </li>
                        <a href="http://www.mass.gov/eea/grants-and-tech-assistance/guidance-technical-assistance/agencies-and-divisions/doer/" target="_blank"><img class="img-responsive logo" src="images/seal.png" alt="Common Wealth of Massachussets" > </a></li>
                </ul>-->
            </div>
            <div class="menu">
                <a class="menu-link" href="#/" style="color:#004B8E;margin-left:15px" title="HomePage">Home <span>&nbsp;|</span></a>
                <a class="menu-link" ng-href="#/glossary" style="color:#004B8E" title="Glossary Page">Glossary</a>
                <a class="menu-link" style="float:right;color:#004B8E;margin-right:15px" ng-href="#/contact" title=" Contact Information">Contact</a>
                <a class="menu-link" style="float:right;color:#004B8E" ng-href="#/FAQs" title="FAQs related to program">FAQs<span>&nbsp;|&nbsp;</span></a>
                <a class="menu-link" style="float:right;color:#004B8E" ng-href="#/about" title="About tool program">About<span>&nbsp;|&nbsp;</span></a>
            </div>
            </div>
    </div>
    <div class="row marketing" style="margin-top:10px;margin-bottom:30px;margin-left:40px;margin-right:40px">
	<h3>CONTACT INFORMATION</h3>
    <br/>
    <p>Please contact us with feedback about this portal at:<a href="mailto:DOER.Energy@State.MA.US" target="_top"> DOER.Energy@State.MA.US</a>.</p>
    <p></p>
    <p>If you have any questions on how the portal works or need assistance navigating through please contact us by telephone at <b> (617) 626-7300</b> or by email at:<a href="mailto:DOER.Energy@State.MA.US" target="_top">  DOER.Energy@State.MA.US</a>.</p>
    <p>If you have any questions regarding a specific incentive or rebate, please contact the agency, utility or organization providing the offer.  </p>
   </div>	
</div>