<div ng-controller="FaqCtrl">
     <div class="jumbotron">
 <a href="http://www.mass.gov/eea/grants-and-tech-assistance/guidance-technical-assistance/agencies-and-divisions/doer/" target="_blank"><img class="img-responsive logo" src="images/doer_logo1.png" alt="Common Wealth of Massachussets" > </a></li>
  <br/>
     <!--    <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="navbar-left">
                        <a href="http://www.mass.gov/eea/grants-and-tech-assistance/guidance-technical-assistance/agencies-and-divisions/doer/" target="_blank"><img class="img-responsive logo" src="images/DOER_JPEG_300dpi.jpg" alt="DOER logo"> </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ">
               <h2 style="padding-top:20px;color:#337ab7">Massachusetts Energy Ally<br/>
               <span style="marigin-left:30px"><h4 style="margin-left:80px"><em>Access all your energy incentives here</em></h4></span></h2>
                </ul>
               <!-- <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-right">
                    </li>
                        <a href="http://www.mass.gov/eea/grants-and-tech-assistance/guidance-technical-assistance/agencies-and-divisions/doer/" target="_blank"><img class="img-responsive logo" src="images/seal.png" alt="Common Wealth of Massachussets" > </a></li>
                </ul>-->
            
            <div class="menu">
               <a class="menu-link" href="#/" style="color:#004B8E;margin-left:15px" title="HomePage">Home <span>&nbsp;|</span></a>
                 <a class="menu-link" style="color:#004B8E" ng-href="#/about" title="About tool program" >About</a>
                 <a class="menu-link" style="float:right;color:#004B8E;margin-right:15px" ng-href="#/contact" title=" Contact Information">Contact</a>
                 <a class="menu-link" style="float:right;color:#004B8E" ng-href="#/FAQs" title="FAQs related to program" >FAQs<span>&nbsp;|&nbsp;</span></a>
                 <a class="menu-link" ng-href="#/glossary" style="float:right;color:#004B8E" title="Glossary Page"  id="g1">Glossary<span>&nbsp;|&nbsp;</span></a>
            </div>
    </div>
    <div class="row marketing" style="margin-top:10px;margin-bottom:30px;margin-left:40px;margin-right:40px">
	<h3><b>FREQUENTLY ASKED QUESTIONS&nbsp;(FAQ)</b></h3>
    <p><b>** Please note: </b>if you live within a Municipal Light Plant community and heat your home with oil, you may not be eligible for a number of incentives. Municipal electric customers may still qualify for natural gas equipment rebates. Municipal Gas Utility customers can use <a href="http://www.masssave.com/">Mass Save®</a> to find rebates in their area.  Please note that renewable rebate incentives provided through MassCEC are not available to municipal electric customers unless their municipal utility participates in the Renewable Energy Trust.  Check with your local utility for its renewable incentives.</p>
    <br/>
    <p><b>Q1: How can I search for energy incentives and rebates?</b></p>
    <p style="margin-left:35px">A1: You can search for energy incentives in multiple ways:
    <ul>
    <li><em><b> Search:&nbsp;</b></em> use keywords, for example: electric vehicle, wood, biomass, dryer, etc.</li>
    <li><em><b> Zip code:&nbsp;</b></em> enter your zip code and incentives for your town/city will populate in the table below.</li>
    <li><em><b>Category:&nbsp;</b></em> identify yourself and your interests with “Who are you?” and “What are you looking for?"</li>
    </ul>
    </p>
    <p><b>Q2:Who provides the energy incentives and other opportunities highlighted?</b></p>
   <p style="margin-left:35px"> A2:Offers come from MassSave, Municipal Electric and Gas Utilities, the Massachusetts Clean Energy Center (MassCEC), the Department of Energy Resources (DOER), the federal government, and other organizations.</p>
<p><b>Q3. Where do the energy incentive and rebate links send me?</b></p>
<p style="margin-left:35px">A3:All links direct you either to the sponsoring utility/organization’s web page for the specific energy incentive/rebate information you selected or directly to the energy incentive/rebate application.</p>
<p><b>Q4: Who do I contact about questions for a particular energy incentive or rebate?</b>
</p>
<p style="margin-left:35px">A4: If you have any questions regarding a specific incentive or rebate, please contact the agency, utility or organization providing the offer.</p>
<p><b>Q5: What do I do if I’m having problems searching for an energy incentive?</b> </p>
<p style="margin-left:35px"> A5: Clear the filters and try the search again. </p>
<p><b>Q6: Can I get information on specific incentives that I am looking for?</b></p>
<p style="margin-left:35px">A6: Yes, by using the “Who are you?” and “What are you looking for?” filters. These filters allow you to find precisely what you’re interested in finding. </p>
<p><b>Q7: How often is this energy incentive list updated? </b></p>
<p style="margin-left:35px">A7: Monthly or as needed.  </p>
<p><b>Q8:If I know about a new energy incentive or rebate that is not listed, what should I do?</b></p>
<p style="margin-left:35px">A8: Please email us at <a href="http://www.mass.gov/eea/grants-and-tech-assistance/guidance-technical-assistance/agencies-and-divisions/doer/" target="_blank">DOER.Energy@State.MA.US</a> with information on the energy incentive and your contact information.</p>
   </div>	
</div>