<script>
$(document).ready(function() {
    windowHeight = $(window).innerHeight();
    console.log(windowHeight)
    $('tbody').css('height', windowHeight / 3);
});
</script>
<div ng-controller="MainCtrl">
    <div class="jumbotron">
        <a href="http://www.mass.gov/eea/grants-and-tech-assistance/guidance-technical-assistance/agencies-and-divisions/doer/" target="_blank"alt="Department of Energy Resources"><img class="img-responsive logo" src="images/doer_logo1.png" alt="Common Wealth of Massachussets"> </a>
        </li>
        <br/>
        <!--   <div class="mini-head">
            <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="navbar-left">
                        <a href="http://www.mass.gov/eea/grants-and-tech-assistance/guidance-technical-assistance/agencies-and-divisions/doer/" target="_blank" alt="Department of Energy Resources"><img class="img-responsive logo" src="images/DOER_JPEG_300dpi.jpg" alt="Department of Energy Resources" longdesc="Department of Energy Resources"> </a>
                    </li>
                </ul>
           
                   <ul class="nav navbar-nav ">
               <h2 style="padding-top:20px;color:#337ab7" longdesc  ="Massachusetts Energy">Massachusetts Energy Ally<br/>
               <span style="marigin-left:30px"><h4 style="margin-left:80px" title="Access all your energy incentives here"><em>Access all your energy incentives here</em></h4></span></h2>
                </ul>
               
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-right">
                    </li>
                    <a href="http://www.mass.gov/eea/grants-and-tech-assistance/guidance-technical-assistance/agencies-and-divisions/doer/" target="_blank"><img class="img-responsive logo" src="images/mass_seal2.png" alt="DOER logo" > </a></li>
                </ul>
            </div>-->
        <div class="menu">
            <a class="menu-link" href="#/" style="color:#004B8E;margin-left:15px" title="HomePage">Home <span>&nbsp;|</span></a>
            <a class="menu-link" style="color:#004B8E" ng-href="#/about" title="About tool program">About</a>
            <a class="menu-link" style="float:right;color:#004B8E;margin-right:15px" ng-href="#/contact" title=" Contact Information">Contact</a>
            <a class="menu-link" style="float:right;color:#004B8E" ng-href="#/FAQs" title="FAQs related to program">FAQs<span>&nbsp;|&nbsp;</span></a>
            <a class="menu-link" ng-href="#/glossary" style="float:right;color:#004B8E" title="Glossary Page" id="g1">Glossary<span>&nbsp;|&nbsp;</span></a>
        </div>
        <br/>
        <p>
            The<b> Massachusetts Energy Savings Assistant (MESA) </b>provides a single entry point for Massachusetts residents and businesses looking for the energy rebates, incentives, loans, and tax credits available from MassSave®, the Commonwealth of Massachusetts, and other organizations, like the federal government. If you’re looking for help to save energy and manage costs, searching for energy efficiency or electric vehicle rebates, installing solar electricity or investigating biomass to heat your building, this is the place to start.
        </p>
    </div>
    <!--
        <div class="row marketing heading-group ">  
            <div class="col-md-5 col-sm-5 col-xs-5">
                <div class="head-img1" title="Search for and find energy incentives via keywords or the provided filters below." ng-click="showMe()" >
                    <span class="glyphicon glyphicon-search" title="Search" id="searchmouse" ng-mouseover="searchHoverIn()" ng-mouseleave="searchHoverOut()" ></span>
                </div>
                  <!--  </div>
             <div class="col-md-3 col-sm-3 col-xs-3">-->
    <!--     <div class="heading-text1">
                    <h3><a class="testing" ng-click="showMe()" id="seach_hover" ng-mouseover="searchHoverIn()" ng-mouseleave="searchHoverOut()" href="#/#home" alt="Search for and find energy incentives via keywords or the provided filters below.">Search</a></h3>
                    <p id="searchdata" style="display:none">Search for and find energy incentives via keywords or the provided filters below.</p>
                </div>
            </div>

            <div class="col-md-2 col-sm-2 col-xs-2">
                <a href="http://www.mass.gov/eea/grants-and-tech-assistance/guidance-technical-assistance/agencies-and-divisions/doer/" target="_blank" alt="Discover money-saving rebates and energy incentives for your home or business, and learn what you need to qualify for them. We have provided glossary for fuel-source terms as well." >
                    <div class="head-img" title="Discover money-saving rebates and energy incentives for your home or business, and learn what you need to qualify for them. We have provided glossary for fuel-source terms as well." >
                        <span class="glyphicon glyphicon-education" id="learnmouse" ng-mouseover="learnHoverIn()" ng-mouseleave="learnHoverOut()"> </span>
                    </div>
                </a>
                <a href="#" alt="Click the title of the energy incentive to visit the program's site. There you can find further details about specific programs and instructions on how to apply.">
                <div class="head-img" style="margin-top:20px" title="Click the title of the energy incentive to visit the program's site. There you can find further details about specific programs and instructions on how to apply">
                    <span class="glyphicon glyphicon-pencil" title="Apply" id="applymouse" ng-mouseover="applyHoverIn()" ng-mouseleave="applyHoverOut()"></span>
                </div>
                </a>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5">
                <div class="heading-text" id="tbox">
                    <h3><a href="http://www.mass.gov/eea/grants-and-tech-assistance/guidance-technical-assistance/agencies-and-divisions/doer/" target="_blank" id="learn_hover" ng-mouseover="learnHoverIn()" ng-mouseleave="learnHoverOut()" alt="Discover money-saving rebates and energy incentives for your home or business, and learn what you need to qualify for them. We have provided glossary for fuel-source terms as well.">Learn</a></h3>
                    <p id="learndata" style="display:none">Discover money-saving rebates and energy incentives for your home or business, and learn what you need to qualify for them. We have provided a <a href="#/glossary">glossary</a> for fuel-source terms as well.</p>
                </div>
                <div class="heading-text" longdesc="Apply">
                    <h3 style="margin-top:40px"><font color="#337ab7" id="apply_hover" ng-mouseover="applyHoverIn()" ng-mouseleave="applyHoverOut()" longdesc="Apply">Apply</font></h3>
                    <p id="applydata" style="display:none">Click the title of the energy incentive to visit the program's site. There you can find further details about specific programs and instructions on how to apply.</p>
                </div>
            </div>
        </div>
        <!--/.row, .heading-group-->
</div>
<!-- /.jumbotron -->
<div class="row marketing panel panel-default">
    <div class="panel-body">
        <!--  <p>Filters</p>-->
        <form>
            <!--   <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search by Keywords" ng-model="searchIncentives.$" ng-change="showMe()">
                      
                        <span class="input-group-btn">
                         <button class="btn btn-primary" type="button"  ng-click="zipSearch()" style="background-color:#004B8E">SUBMIT</button>
                         </span>
                       
                        <input type="text" class="form-control" placeholder="Search by zipcode" ng-model="searchIncentives.ZIPCODE" name="zcode" ng-change="zipSearch()">
                    </div>
                </div>-->
            <!--modal dialog -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="myModalLabel">Please select below applicable utility company</h4>
                        </div>
                        <div class="modal-body">
                            <div ng-repeat="role in modalDialog track by $index">
                                <label class="radio-inline">
                                    <input type="checkbox" checklist-model="user.role" checklist-value="role"> {{role}}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="sbmit()">SUBMIT</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--modal dialog code ending-->
        </form>
        <br/>
        <div class="form-group col-md-5 col-sm-5">
            <div class="check-group">
                <h4>Who are you?</h4>
                <label class="radio-inline">
                    <input type="radio" ng-value="'Residential'" ng-model="searchIncentives.incentiveProgram" ng-change="showMe()" tabindex="0"> Resident
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-value="'Commercial'" ng-model="searchIncentives.incentiveProgram" ng-change="showMe()" tabindex="0"> Business/Institution
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-value="'Agriculture/Farm'" ng-model="searchIncentives.incentiveProgram" ng-change="showMe()" tabindex="0"> Agriculture Operation
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-value="'Clean Energy Industry'" ng-model="searchIncentives.incentiveProgram" ng-change="showMe()" tabindex="0">Clean Energy Industry
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-value="'Low Income Resident'" ng-model="searchIncentives.incentiveProgram" ng-change="showMe()" tabindex="0"> Low Income Resident
                </label>
            </div>
        </div>
        <div class="form-group col-md-7 col-sm-7">
            <div class="check-group">
                <h4>What are you looking for?</h4>
                <label class="radio-inline">
                    <input type="radio" ng-value="'Appliances'" ng-model="searchIncentives.incentiveCategory" ng-change="showMe()" tabindex="0" /> Appliances
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-value="'Energy Audit'" ng-model="searchIncentives.incentiveCategory" ng-change="showMe()" tabindex="0" /> Energy Audit
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-value="'Lighting'" ng-model="searchIncentives.incentiveCategory" ng-change="showMe()" tabindex="0" /> Lighting
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-value="'Insulation'" ng-model="searchIncentives.incentiveCategory" ng-change="showMe()" tabindex="0" /> Insulation
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-value="'Heating and Cooling'" ng-model="searchIncentives.incentiveCategory" ng-change="showMe()" tabindex="0" /> Heating and Cooling
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-value="'Solar Electricity'" ng-model="searchIncentives.incentiveCategory" ng-change="showMe()" tabindex="0" /> Solar Electricity
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-value="'Vehicles'" ng-model="searchIncentives.incentiveCategory" ng-change="showMe()" tabindex="0" /> Electric Vehicles
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-value="'New Construction'" ng-model="searchIncentives.incentiveCategory" ng-change="showMe()" tabindex="0" /> New Construction
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-value="'Home Remodeling'" ng-model="searchIncentives.incentiveCategory" ng-change="showMe()" tabindex="0" /> Remodeling
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-value="'Financing'" ng-model="searchIncentives.incentiveCategory" ng-change="showMe()" tabindex="0" /> Financing
                </label>
                </label>
                <label class="radio-inline">
                    <input type="radio" n ng-value="'Renewable power'" ng-model="searchIncentives.incentiveCategory" ng-change="showMe()" tabindex="0" /> Renewable Power
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-value="'Training and Certifications'" ng-model="searchIncentives.incentiveCategory" ng-change="showMe()" tabindex="0" /> Training and Certifications
                </label>
            </div>
        </div>
    </div>
    <form>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search by Keywords" ng-model="searchIncentives.$" ng-change="showMe()" style="text-align:center">
            <!--    <div class="input-group-addon">SEARCH</div>-->
            <span class="input-group-btn">
                         <button class="btn btn-default clear-button" type="button"  ng-click="zipSearch()" class="clear-button" >Filters</button>
                         </span>
            <!--ng-change="zipSearch()"   <span class="glyphicon glyphicon-search" ng-click="zipSearch()"></span>-->
            <input type="text" class="form-control" placeholder="Search by zipcode"  style="text-align:center" ng-model="searchIncentives.ZIPCODE" name="zcode" ng-change="zipSearch()">
            <span class="input-group-btn">
                                       <a class="btn btn-default clear-button" href="" title="" ng-click="clearFilters()">Clear Filters</a>
                              </span>
        </div>
</div>
</form>
<br/>
<!-- <div class="button-div">
                <a class="btn btn-default clear-button" href="" title="" ng-click="clearFilters()">Clear Filters</a>
            </div>-->
</div>
<!-- / .panel-body -->
</div>
<!-- /.row .panel -->
<!--id="scrolltesting"-->
<div class="row marketing" ng-show="show" id="home">
    <div class="table-container">
        <div class="table-responsive1">
            <table class="table">
                <caption>Available Incentives and Rebates:</caption>
                <thead>
                    <tr>
                        <th>
                            <a href="" ng-click="sortType = 'programName'; sortReverse = !sortReverse">
                   Name
                   <span ng-show="sortType == 'programName' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                   <span ng-show="sortType == 'programName' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = 'keyword'; sortReverse = !sortReverse">
                   Keyword
                   <span ng-show="sortType == 'keyword' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                   <span ng-show="sortType == 'keyword' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = 'participatingUtility'; sortReverse = !sortReverse">
                   Participating Utility
                   <span ng-show="sortType == 'participatingUtility' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                   <span ng-show="sortType == 'participatingUtility' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = 'incentiveDetail'; sortReverse = !sortReverse">
                  Detail
                  <span ng-show="sortType == 'incentiveDetail' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                  <span ng-show="sortType == 'incentiveDetail' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
                        </th>
                        <th>
                            <!--   <a href="" ng-click="sortType = 'amount'; sortReverse = !sortReverse">-->
                            <a href="">

                   Amount
                   <span ng-show="sortType == 'amount' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                   <span ng-show="sortType == 'amount' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
                        </th>
                    </tr>
                </thead>
                <div id="tBodyContainer">
                    <tbody>
                        <tr ng-repeat="col in tableData | orderBy:sortType:sortReverse | filter:searchIncentives">
                            <!-- Hidden, but still sortable data -->
                            <td class="hidden-col">
                                <div class="data-cell">{{col.incentiveType}}</div>
                            </td>
                            <td class="hidden-col">
                                <div class="data-cell">{{col.incentiveProgram}}</div>
                            </td>
                            <td class="hidden-col">
                                <div class="data-cell">{{col.fuelSource}}</div>
                            </td>
                            <td class="hidden-col">{{col.incentiveCategory}}</td>
                            <td class="hidden-col">{{col.eligibility}}</td>
                            <!-- Visible and sortable data -->
                            <td>
                                <div class="data-cell prog-name-cell"><a href="{{col.contact}}" title="" alt="program link" target="_blank">{{col.programName}}</a></div>
                            </td>
                            <td>
                                <div class="data-cell">{{col.keyword}}</div>
                            </td>
                            <td>
                                <div class="data-cell"><span class="text-back">{{col.participatingUtility}}</span></div>
                            </td>
                            <td>
                                <div class="data-cell">{{col.keyword}}</div>
                            </td>
                            <td>
                                <div class="data-cell">{{col.amount}}</div>
                            </td>
                        </tr>
                        <tr ng-repeat="col in tableData3 | orderBy:sortType:sortReverse | zipcodeFilter:searchIncentives">
                            <td class="hidden-col">
                                <div class="data-cell">{{col.incentiveType }}</div>
                            </td>
                            <td class="hidden-col">
                                <div class="data-cell">{{col.incentiveProgram}}</div>
                            </td>
                            <td class="hidden-col">
                                <div class="data-cell">{{col.fuelSource}}</div>
                            </td>
                            <td class="hidden-col">{{col.incentiveCategory}}</td>
                            <td class="hidden-col">{{col.eligibility}}</td>
                            <td>
                                <div class="data-cell prog-name-cell"><a href="{{col.contact}}" title="" alt="program link" target="_blank">{{col.programName}}</a></div>
                            </td>
                            <td>
                                <div class="data-cell">{{col.keyword}}</div>
                            </td>
                            <td>
                                <div class="data-cell"><span class="text-back">{{col.participatingUtility}}</span></div>
                            </td>
                            <td>
                                <div class="data-cell">{{col.keyword }}</div>
                            </td>
                            <td>
                                <div class="data-cell">{{col.amount }}</div>
                            </td>
                        </tr>
                    </tbody>
                </div>
            </table>
            <!-- / .table-responsive -->
        </div>
    </div>
    <!-- /.row -->
</div>
</div>
</div>
